
<loading [state]="loading">
 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Admin</h1>
</div>
<div class="row">
  
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Active Users</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <ag-grid-angular
                    style="width: 100%; height: 100%"
                    class="ag-theme-alpine"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef"
                    [rowData]="activeUsers.users"
                    [rowSelection]="'multiple'"
                    [animateRows]="true"
                    (gridReady)="onGridReady($event)"
                    (cellClicked)="onCellClicked($event)"
                    ></ag-grid-angular>
            </div>
        </div>
    </div>
</div>


</loading>